/* CASE STUDIES */
.case-studies-container {
    a {
        .case-study {
            width: 33.3%;
            width: calc(100%/3);
            float: left;
            position: relative;
            margin-bottom: -3px;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 25px;
                left: 25px;
                right: 25px;
                bottom: 25px;
                border: 5px solid #ffffff;
            }
            img {
                width: 100%;
            }
            &:hover {
                .logo-overlay {
                    opacity: 0;
                }
                .color-overlay {
                    opacity: 1;
                }
            }
            .color-overlay {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 99.5%;
                z-index: 1;
                padding: 40px 50px;
                opacity: 0;
                transition: all .3s linear;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 25px;
                    left: 25px;
                    right: 25px;
                    bottom: 25px;
                    border: 5px solid $white;
                }
                .overlay-info {
                    position: absolute;
                    bottom: 40px;

                    .heading {
                        color: $white;
                        font-size: 30px;
                        font-weight: 600;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                        padding-right: 50px;
                        line-height: 36px;
                    }
                    .line {
                        width: 90px;
                        height: 2px;
                        background-color: $white;
                        display: block;
                    }
                    .subheading {
                        color: $white;
                        font-size: 15px;
                        margin-top: 15px;
                        margin-right: 50px;
                        font-size: 20px;
                    }
                }
            }
            .logo-overlay {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 99.5%;
                z-index: 1;
                opacity: 1;
                transition: all .3s linear;
            }
        }
        &:nth-of-type(4n+1) {
            .case-study {
                .color-overlay {
                    background-color: rgba($orange, .85);
                }
            }
        }
        &:nth-of-type(4n+2) {
            .case-study {
                .color-overlay {
                    background-color: rgba($brown, .85);
                }
            }
        }
        &:nth-of-type(4n+3) {
            .case-study {
                .color-overlay {
                    background-color: rgba($teal, .85);
                }
            }
        }
        &:nth-of-type(4n+4) {
            .case-study {
                .color-overlay {
                    background-color: rgba($olive, .85);
                }
            }
        }
    }
}
.case-study-expanded {
    .sidebar-heading {
        h2 {
            text-transform: uppercase;
        }
        p {
            color: $dark-blue;
        }
    }
    .case-study-work {
        margin-bottom: 80px;
        
        img {
            display: inline-block;
        }
        .desktop {
            display: block;
        }
        .mobile {
            display: none;
        }
    }
    blockquote {
        border: 10px solid $dark-blue;
        padding: 30px;
        margin-bottom: 80px;
        
        &:before, &:after {
            height: 0px;
        }
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
    .case-studies-container {
        a {
            .case-study {
                width: 50%;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .case-studies-container {
        a {
            .case-study {
                width: 100%;
            }
        }
    }
    .case-study-expanded {
        .case-study-work {
            .desktop {
                display: none;
            }
            .mobile {
                display: block;
            }
        }
    }
}