/* VARIABLES */

/* Typography */
$open-sans:         'Open Sans', sans-serif;
$gotham-htf:        'Gotham HTF', sans-serif;

$body-font-size:            16px;
$heading-font-size:         85px;

/* Colors */
$dark-blue:         #002d51;
$medium-blue:       #24486d;
$sky-blue:          #00afec;
$green:             #8fb37e;
$olive:             #7f8068;
$teal:              #3f6a6f;
$light-teal:        #9fb5b7;
$brown:             #7e565e;
$orange:            #ef8a60;
$mauve:             #bfabaf;
$black:             #000000;
$white:             #ffffff;

$body-text-color:   $black;
$body-link-color:   $sky-blue;

$error-color:       #C13333;
$success-color:     #30A538;


/* Breakpoints */
$bp-xlg-0:     1140px;
$bp-lg-0:      1024px;
$bp-md-0:      800px;
$bp-md-1:      768px;
$bp-sm-0:      640px;
$bp-sm-1:      480px;